@using Color = Microsoft.FluentUI.AspNetCore.Components.Color
@using Orientation = Microsoft.FluentUI.AspNetCore.Components.Orientation
@inherits LayoutComponentBase
<div style="background-color: var(--neutral-layer-card-container);min-height:100dvh;">
<FluentMainLayout>
    <Header>
            <h3>Achiever</h3>
            <FluentSpacer />
            <AuthorizeView>
                <Authorized>
                    <FluentPersona Initials="@context.User.Identity?.Name[0].ToString()" title="@context.User.Identity?.Name">
                    </FluentPersona>
                    <a href="logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                <FluentNavLink Class="header-link" IconColor="Color.Fill" Icon="@(new Icons.Filled.Size32.Person())" Href="login" Tooltip="Login">Login</FluentNavLink>
                <FluentNavLink Class="header-link" IconColor="Color.Fill" Icon="@(new Icons.Filled.Size32.Signature())" Href="register" Tooltip="Register">Register</FluentNavLink>
            </NotAuthorized>
            </AuthorizeView>
    </Header>
    
    <Body>
        <article class="content px-4 overflow-hidden" style="padding-top:5px;min-height:90dvh;">
            @Body
        </article>
        <FluentToastProvider />
        <FluentDialogProvider />
        <FluentTooltipProvider />
        <FluentMessageBarProvider />
    </Body>

    <NavMenuContent>
        <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())" Match="NavLinkMatch.All" Href="/" Tooltip="Home">Home</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size24.Trophy())" Href="goals" Tooltip="Goals">Goals</FluentNavLink>
    </NavMenuContent>
</FluentMainLayout>
</div>